.grid-three-columns-side {
    .grid-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacingxxs;
        @include media(md) {
            row-gap: $spacinglg;
        }
        @include media(lg) {
            gap: pxToRem(20px);
            grid-template-columns: repeat(4, 1fr);
        }
        @include media(xxl) {
            column-gap: pxToRem(40px);
            row-gap: $spacingsm;
        }
    }
    .headline-container {
        max-width: pxToRem(410px) !important;
        .headline {
            color: var(--color-blue-16);
        }
    }
    .grid-container {
        display: grid;
        grid-template-columns: subgrid;
        grid-column-start: 1;
        grid-column-end: 3;
        overflow: hidden;
        row-gap: $spacinglg;
        @include media(lg) {
            width: 100%;
            row-gap: pxToRem(20px);
            grid-column-start: 2;
            grid-column-end: 5;
        }
    }
}
