.fact-item {
    &-counter-wrapper {
        display: inline-block;
        margin-bottom: pxToRem(10px);
        border-bottom: 1px solid var(--color-blue-05);
        min-width: 80%;

        @include media(md) {
            margin-bottom: $spacingxs;
            padding-bottom: $spacingxs;
        }
    }

    &-counter-number {
        color: var(--color-blue-08);
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        .digit {
            display: inline-block;
            transform: translateY(100px);
            transition: opacity 0.9s ease-out, transform 0.9s ease-out;

            &.animate {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .plus-icon {
            position: relative;
            top: -5px;
        }
    }

    &-counter-number, &-text {
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 0.9s ease-out, transform 0.9s ease-out;
    }

    &.in-view {
        .fact-item-counter-number, .fact-item-text {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
