<div class="swipe-button-container">
    <div class="swiper-arrows">
        <div class="swiper-button-prev">
            {% include "../elements/button.twig" with {
                type: 'span',
                icon: 'arrow-left',
                buttonColor: 'transparent',
            } %}
        </div>
        <div class="swiper-button-next">
            {% include "../elements/button.twig" with {
                type: 'span',
                icon: 'arrow-right',
                buttonColor: 'transparent',
            } %}
        </div>
    </div>
</div>
