<div class="website-link-container">
    <a href="{{ url }}" class="website-link" target="{{ target ?? '_self' }}">
        <span class="label hover-underline">{{ label }}</span>
        <span class="icon-external-link" aria-hidden="true"></span>
    </a>
</div>
