{% extends "templates/templates/_base.twig" %}
{% set bodyClass = '' %}

{% block main %}

    {% include "templates/modules/article-details.twig" with {
        backLink: {
            href: '#',
            text: 'Alle News'
        },
        date: '09 - 13 April 2024',
        dateLocation: {
            date: '09 - 13 April 2024',
            location: 'Vienna'
        },
        optionalHeadline: 'Resist',
        headline: {
            type: 'h1',
            text: 'Western balkans steering platforms supported by zsi-coordinated project',
            class: 'headline'
        },
        tagShow: '2',
        tags: [
            {
                tag: 'Science, technology & innovation policy aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa',
                color: 'white',
            },
            {
                tag: 'Entwicklung der Plattform und Netzwerkkoordination',
                color: 'white',
                lineBreak: true,
            },
            {
                tag: 'Entwicklung der Plattform und Netzwerkkoordination',
                color: 'white',
                lineBreak: false,
            },
        ],
        image: [
            {
                src: 'media/test.png',
                alt: 'Person Image',
                imageRatio: '4x3'
            },
        ],
    } %}
    {% include "/templates/modules/text-infobox.twig" with {
        infoBox: {
            infoBoxText: [
                {
                    label: 'Associated Project',
                    content: 'Photorama',
                },
            ],
            infoBoxLink: [
                {
                    label: 'Official Website',
                    url: '#',
                    color: 'blue',
                }
            ],
            infoBoxCardHeadline: 'Kontakt',
            infoBoxCards: [
                {
                    image: [
                    {
                        src: 'media/image 8.png',
                        alt: 'Person Image',
                    },
                ],
                    headline: 'Univ. Prof. Mag. Dr. Josef Hochgerner',
                },
            ],
        },
        accordionItems: [
            {
                accordionId: 345,
                buttonOpenText: 'Read more',
                buttonCloseText: 'Close',
                excerpt: '<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet. </p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod mor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>',
                content: '<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet. </p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod mor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>',
            },
        ],
    } %}
    {% include "/templates/modules/grid-three-columns.twig" with {
        headline: 'More results',
        eventCards: [
            {
                img: [
                {
                    src: 'media/Slide4.png',
                    alt: 'Event Card Image',
                },
            ],
                subheadline: '09 Okt. 2024',
                headline: 'Regionen für Widerstandsfähigkeit gegenüber dem Klimawandel durch Innovation, Wissenschaft und Technologie.',
                tags: [
                {
                    tag: 'Science, Technologie & Innovation Policy',
                },
                {
                    tag: 'Soziale Inklusion (inkl. Migration)',
                },
            ],
            },
            {
                img: [
                {
                    src: 'media/Slide4.png',
                    alt: 'Event Card Image',
                },
            ],
                subheadline: '09 Okt. 2024',
                headline: 'Regionen für Widerstandsfähigkeit gegenüber dem Klimawandel durch Innovation, Wissenschaft und Technologie.',
                tags: [
                {
                    tag: 'Science, Technologie & Innovation Policy',
                },
                {
                    tag: 'Soziale Inklusion (inkl. Migration)',
                },
            ],
            },
            {
                img: [
                {
                    src: 'media/Slide4.png',
                    alt: 'Event Card Image',
                },
            ],
                subheadline: '09 Okt. 2024',
                headline: 'Regionen für Widerstandsfähigkeit gegenüber dem Klimawandel durch Innovation, Wissenschaft und Technologie.',
                tags: [
                {
                    tag: 'Science, Technologie & Innovation Policy',
                },
                {
                    tag: 'Soziale Inklusion (inkl. Migration)',
                },
            ],
            },
        ],
    } %}
{% endblock %}
