<section class="text-infobox grid-full-width grid-inherit"{% if anchorId is defined %} id="{{ anchorId }}"{% endif %}>
    <div class="grid-teaser">
        <div class="centered-container">
            <div class="module-container">
                <div class="content-area">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</section>
